.App {
  height: 100vh;
  width: 100vw;
  background-color: #dbdbdb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 57%;
  height: 92%;
}

.container {
  width: 40%;
  height: 92%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin: 20px;
}

p {
  font-size: 0.8em;
}

.main-content {
  width: 55%;
  margin: 20px auto;
  background-color: #fff;
  /* padding: 40px 50px; */
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

button {
  margin: 10px auto;
  width: 55%;
  background-color: #61acb3;
  border: 1px solid #61acb3;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

.sub-content {
  width: 55%;
  margin: 10px auto;
  margin-bottom: 30px;
  font-size: 0.8em;
  display: flex;
}

.rememberMe {
  margin: 0 auto;
  width: 55%;
  display: flex;
}

input[type=checkbox] {
  margin: 0;
  width: 20px;
  height: 20px;
}

.chkbox {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #61acb3;
  font-weight: bold;
}

.policy p {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.list-wrapper {
  width: 40%;
  height: 92%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-header {
  margin: 20px;
}

.user-name {
  color: #61acb3;
}

.user-list {
  max-height: 70%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.list-item {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-bottom: 1px solid #dbdbdb;

}